// TO-DO: clean unused styles

/* VARIABLES */

:root {
    --main-color: #1a8fff;
    --text-color: #777;
    // --text-color: red;
    --text-color-light: #ccc;
    --border-color: #eee;
    // --border-color: red;
    --bg-color: #f9f9f9;
    --bg-color: SkyBlue;
    --neutral-color: #fff;
    // --weekend-background: salmon;
    --weekend-text-color: salmon;
}
  

/* GRID */

.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.row-middle {
    align-items: center;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.col-start {
    justify-content: flex-start;
    text-align: left;
}

.col_center {
    justify-content: center;
    text-align: center;
}

.col-end {
    justify-content: flex-end;
    text-align: right;
}

/* Calendar */

.month {
    width: 250px;
    margin: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
    position: relative;
    background: var(--neutral-color);
    // border: 1px solid var(--border-color);

    .header {
        // text-transform: uppercase;
        font-weight: 700;
        // font-size: 90%;
        padding: 0.5em;
        padding-bottom: 0.5em;
        // padding-left: 1
        // color: var(--text-color);
        display: flex;
        justify-content: left;
        // border-bottom: 1px solid var(--border-color);
    }

    .days {
        text-transform: uppercase;
        font-weight: 400;
        color: var(--text-color);
        font-size: 70%;
        padding: .75em 0;
        padding-top: 0px
        // border-bottom: 1px solid var(--border-color);
    }

    .body {

        border: 1px solid var(--border-color);

        .cell {
            position: relative;
            height: 2em;
            // border-right: 1px solid var(--border-color);
            overflow: hidden;
            cursor: pointer;
            background: var(--neutral-color);
            transition: 0.25s ease-out;
          }
    
          .cell:hover {
            background: var(--bg-color);
            transition: 0.5s ease-out;
          }
    
          .selected {
            border-left: 10px solid transparent;
            border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
            border-image-slice: 1;
          }
    
          .row {
            // border-bottom: 1px solid var(--border-color);
          }
    
          .row:last-child {
            border-bottom: none;
          }
    
          .cell:last-child {
            border-right: none;
            flex-grow: 100; // To avoid a blank pixel after the cells in some situations
          }
    
          .cell .number {
            position: absolute;
            // font-size: 82.5%;
            line-height: 1;
            top: .75em;
            right: .75em;
            font-weight: 500;
            // color: var(--text-color);
          }
    
          .enabled {
            color: var(--text-color);
          }

          .disabled {
            color: var(--text-color-light);
          }

          .weekend {
            // background-color: var(--weekend-background);
            color: var(--weekend-text-color);
          }          
    
          .col {
            flex-grow: 0;
            flex-basis: calc(100%/7);
            width: calc(100%/7);
          }
    
    } // .body

} // .calendar