.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    // background-color: yellow;
    // padding: 50px;
}

.monthsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    // background-color: teal;
}