
/* VARIABLES */

:root {
    --term-color: #1a8fff;
    --term-bg: skyblue;
    --weekend-color: red;
}

.weekend {
    background-color: var(--term-bg);
    color: var(--weekend-color);
}

.term {
    background-color: var(--term-bg);
    color: var(--term-color);
}

.termStart {
    background: 'orange';
    color: 'blue';
    border-left: '5px solid black';
}
.termEnd {
    background: 'orange';
    color: 'blue';
    border-right: '5px solid black';
}